# Simplified Docker Compose for local development.
# Each service loads its own .env file from its respective directory.

services:

  magDroid-frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        VITE_BACKEND_API_URL: ${VITE_BACKEND_HOST}
        FRONTEND_PORT: 3000
    
    image: magdroid-frontend-user1:v1.0
    container_name: magdroid_frontend
    restart: unless-stopped
    environment:
      FRONTEND_PORT: ${FRONTEND_PORT}
      NEXT_PUBLIC_API_BASE_URL: "/api"
      VITE_BACKEND_API_URL: ${VITE_BACKEND_HOST}
    
    ports:
      - "${FRONTEND_PORT:-3000}:3000"

    extra_hosts:
      - "host.docker.internal:host-gateway"
    network_mode: "bridge"
    



  magDroid-backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
      args:
        BACKEND_PORT: ${BACKEND_PORT}

    image: magdroid-backend-user1:v1.0
    container_name: magdroid_backend
    restart: unless-stopped

    environment:
      CLOUDFLARED_TUNNEL_TOKEN: ${CLOUDFLARED_TUNNEL_TOKEN}
      CORS_ORIGINS: ${CORS_ORIGINS}
      ADB_SERVER_PORT: ${ADB_SERVER_PORT}
      DEVICES_RANGE: ${DEVICES_RANGE}
    
    volumes:
      - /home/${USER}/Documents/Automation/MagDroid/data:/app/data
      - /dev/bus/usb:/dev/bus/usb   # USB only needed here
      # - adb-sock-user1:/tmp        # optional shared socket
      
    network_mode: "host"
    privileged: true
    command: >
      sh -c "adb -a -P ${ADB_SERVER_PORT} nodaemon server >/dev/null 2>&1"





  
  appium:
    image: appium/appium:latest
    container_name: appium-server
    privileged: true

    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      # - /usr/bin/adb:/usr/bin/adb
      # - ~/.android:/root/.android
      - ~/.gradle:/root/.gradle
      # - ./android-sdk:/opt/android
    network_mode: host
    ports:
      - "4723:4723"

    command: ["appium", "--allow-cors", "--address", "0.0.0.0", "--port", "4723", "--allow-insecure", "uiautomator2:adb_shell"]